.Navbar {
        width: 100%;
      }
      
      .Navbar .nav {
        width: 100%;
        height: auto;
        box-shadow: 2px 2px 5px 2px rgba(227, 227, 227, 0.772);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .Navbar .nav .navTop {
        width: 95%;
        margin-top: 1vmax;
        margin-bottom: 1vmax;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
      .Navbar .nav .navTop .mainLogo {
        font-size: 3vw; 
        font-weight: 600;
        color: white;
        border-radius: 20px;
        font-style: italic;
        background-color: rgba(0, 0, 0, 0.714);
        padding: 0px 15px 0px 15px;
      }
      
      .Navbar .nav .navTop .menuBar {
        display: none; 
        cursor: pointer;
      }
      
      .Navbar .nav .navTop .menuBar i {
        font-size: 24px;
      }
      
      .Navbar .nav .navTop .navLinks,
      .Navbar .nav .navTop .user {
        flex-direction: row;
        justify-content: space-evenly;
        display: flex; 
      }
      
      .Navbar .nav .navTop .user {
        width: 5%;
        display: flex;
        cursor: pointer;
        margin-right: 1vmax;
        align-items: center;
        justify-content: space-evenly;
      }
      
      .Navbar .nav .navTop .user span {
        background: red;
        padding: 0.4vmax 2vmax;
        color: #ffffffe7;
        font-weight: 600;
        border-radius: 1vmax;
      }
      
      .Navbar .nav .navTop .navLinks.show,
      .Navbar .nav .navTop .user.show {
        display: none;
      }
      
      .Navbar .nav .navTop .navLinks.show a,
      .Navbar .nav .navTop .user.show span {
        margin-bottom: 10px; 
        
      }
      
      .Navbar .nav .navTop .navLinks a {
        margin: 0 20px; 
      }
      .navLinks a{
        font-size: 2.0vw;
        /* text-shadow: 1px 0.5px rgb(203, 0, 0); */
      }
      @media (max-width: 1065px){
        .navLinks a{
          font-size: 2.5vw;
        }
        .mainLogo{
          font-size: 5vw;
        }
      }
      @media (max-width: 600px) {
        .Navbar .nav .navTop .menuBar {
          display: block; 
        }
        
        .Navbar .nav .navTop .mainLogo {
          font-size: 5vw; 
          font-weight: 700;
        }
      
        .Navbar .nav .navTop .navLinks {
          width: 100%;
          display: none; 
          flex-direction: column; 
          position: absolute; 
          background-color: #fff;
          top: 10%;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          z-index: 1;
        }
      
        .Navbar .nav .navTop .navLinks.show {
          display: flex; 
        }
      
        .Navbar .nav .navTop .navLinks a {
          padding: 10px; 
          font-size: 2.5vh;
          text-align: center;
        }
      
        .Navbar .nav .navTop .user {
          display: none;
        }
      
        .Navbar .nav .navTop .user.show {
          display: flex;
          flex-direction: column;
          position: absolute;
          /* top: calc(20% + 40px); Adjusted top position */
          background-color: #fff;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          z-index: 1;
          top: 280px;
          left: 50%;
        }
      
        .Navbar .nav .navTop .user span {
          padding: 1.5vmax 7vmax; 
          text-align: center; 
        }
      }
      
      
      
               


